{% extends 'core/base.html' %}

{% block body %}
    {% if review_form.non_field_errors %}
        {% for error in review_form.non_field_errors %}
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2" role="alert">
                <p class="font-bold">Error!</p>
                <p class="block sm:inline">{{ error }}</p>
            </div>
        {% endfor %}
    {% endif %}
    
    <div class="grid grid-cols-3 gap-4">
        <div></div>
        <div class="py-2 px-3 rounded-xl bg-white mt-12">
            {% load crispy_forms_tags %}
            <h1 class="font-bold text-3xl text-center pb-5 shadow-md">Write A Review</h1>
            <div class="w-full mt-10">
                <form method="post" action="{% url 'books:review_books' book.id %}" class="shadow-md border border-gray-200 rounded px-8 pt-6 pb-8 mb-4">
                    {% csrf_token %}
                    {{ review_form|crispy }}
                    <button type="submit" class="btn btn-warning">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}